@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary-50: #f8f5fb;
  --color-primary-100: #f0e8f7;
  --color-primary-200: #ded0ef;
  --color-primary-300: #cbb8e7;
  --color-primary-400: #b090d8;
  --color-primary-500: #8e62c2;
  --color-primary-600: #6e409e;
  --color-primary-700: #542f80;
  --color-primary-800: #39194f;
  --color-primary-900: #2c0c45;
  --color-primary-950: #23003c;
  --color-secondary: #6e5c3b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: --color-primary-200;
    --foreground: #141111;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes growBox {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes contentAppear {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.box-forming {
  animation: growBox 0.25s ease-out forwards;
}

.dropdown-content-fade {
  animation: contentAppear 0.25s ease-out forwards;
  animation-delay: 0.1s;
  opacity: 0;
}
