@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes growBox {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes contentAppear {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.box-forming {
  animation: growBox 0.25s ease-out forwards;
}

.dropdown-content-fade {
  animation: contentAppear 0.25s ease-out forwards;
  animation-delay: 0.1s;
  opacity: 0;
}
.gradient-text {
  background: linear-gradient(90deg, #6d8d7f 0%, #fface0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  position: relative;
}

.swiper-pagination-bullet {
  background-color: #d1d5db;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-primary-950);
}
