@import 'tailwindcss';
@import 'tw-animate-css';

@layer base {
  * {
    border-color: var(--color-border);
    outline-color: color-mix(in srgb, var(--color-ring) 50%, transparent);
  }
}

@keyframes growBox {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes contentAppear {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.box-forming {
  animation: growBox 0.25s ease-out forwards;
}

.dropdown-content-fade {
  animation: contentAppear 0.25s ease-out forwards;
  animation-delay: 0.1s;
  opacity: 0;
}
.gradient-text {
  background: linear-gradient(90deg, #6d8d7f 0%, #fface0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  position: relative;
}

.swiper-pagination-bullet {
  background-color: #d1d5db;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-primary-950);
}

.custom-pagination .swiper-pagination-bullet {
  background-color: #768499;
  opacity: 1;
  transition: background-color 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: #111827;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 1rem; /* 16px */
  padding-right: 1rem; /* 16px */
}

/* Responsive padding variations */
@media (min-width: 425px) {
  .container {
    padding-left: 1.25rem; /* 20px */
    padding-right: 1.25rem; /* 20px */
  }
}

@media (min-width: 640px) {
  .container {
    padding-left: 1.5rem; /* 24px */
    padding-right: 1.5rem; /* 24px */
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 2rem; /* 32px */
    padding-right: 2rem; /* 32px */
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 3rem; /* 48px */
    padding-right: 3rem; /* 48px */
  }
}

@media (min-width: 1280px) {
  .container {
    padding-left: 4rem; /* 64px */
    padding-right: 4rem; /* 64px */
  }
}
